<button class="sidenavbar-toggler" type="button" data-toggle="collapse" data-target="#sidenavbar" aria-controls="sidenavbar" aria-expanded="false" aria-label="Toggle navigation">
  <span class="sidenavbar-toggler-icon"></span>
  <span class="line line1"></span>
  <span class="line line2"></span>
  <span class="line line3"></span>
</button>

<div style="padding-top: 50px;" id="sidenavbar">
  <ul class="navbar-nav sidebar-light">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/admin/profile">
      <div class="image-container bg2">
        <img [src]="profileImageUrl" class="avatar" alt="avatar">
      </div>
      <div class="sidebar-brand-text" style="font-size: small;">Bienvenue Docteur {{username}}</div>
    </a>
    <hr class="sidebar-divider my-0">
    <hr class="sidebar-divider">
    <div class="sidebar-heading"></div>
    <li class="nav-item active">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
         aria-expanded="true" aria-controls="collapseBootstrap">
        <i class="far fa-fw fa-window-maximize"></i>
        <span>Gestion des patients ></span>
      </a>
      <div id="collapseBootstrap" class="cardo collapse show" aria-labelledby="headingBootstrap">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" routerLinkActive="active" [routerLink]="['/admin/ajouter/patient']">Ajouter un patient ></a><br>
          <a class="collapse-item" routerLinkActive="active" [routerLink]="['/admin/liste/patient']">Liste des patients ></a>
        </div>
      </div>
    </li>
    <li class="nav-item" *ngIf="isAdmin">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm" aria-expanded="true"
         aria-controls="collapseForm">
        <i class="fab fa-fw fa-wpforms"></i>
        <span>Gestion des médecins ></span>
      </a>
      <div id="collapseForm" class="cardo collapse" aria-labelledby="headingForm">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" routerLinkActive="active" [routerLink]="['/admin/liste/Medecin']">Liste des médecins ></a><br>
          <a class="collapse-item" routerLinkActive="active" [routerLink]="['/admin/ajouterGroupe']">Créer des groupes ></a>

        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTable" aria-expanded="true"
         aria-controls="collapseTable">
        <i class="fas fa-fw fa-table"></i>
        <span>Notifications ></span>
      </a>
      <div id="collapseTable" class="cardo collapse" aria-labelledby="headingTable">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" routerLinkActive="active" [routerLink]="['/admin/notification']">Créer des Notifications ></a> <br>
          <a class="collapse-item" routerLinkActive="active" [routerLink]="['/admin/listeNotification']">liste des  Notifications ></a>

        </div>
      </div>
    </li>
    <hr class="sidebar-divider">
    <div class="version" id="version-ruangadmin"></div>
  </ul>
</div>
