<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Liste des médecins</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="./">Home</a></li>
      <li class="breadcrumb-item">Tables</li>
      <li class="breadcrumb-item active" aria-current="page">liste des médecins</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h3 class="m-0 font-weight-bold text-primary">Les informations relatives aux comptes de vos médecins</h3>
        </div>
        <div class="table-responsive p-3">
          <table class="table align-items-center table-flush" id="dataTable">
            <thead class="thead-light">
            <tr>
              <th style="color: #6777EF">Id</th>
              <th style="color: #6777EF">Nom</th>
              <th style="color: #6777EF">Prénom</th>
              <th style="color: #6777EF">Email</th>
              <th style="color: #6777EF">Adresse</th>
              <th style="color: #6777EF">Numéro Telephone</th>
              <th style="color: #6777EF">Date de création</th>
              <th style="color: #6777EF">Statut Actuel </th>
              <th style="color: #6777EF">Bloquer/Valider/Réactiver</th>
<!--              <th style="color: #0da8ee">Valider/Réactiver  </th>-->

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let med of medecins">
              <td>{{med.id}}</td>
              <td>{{med.name}}</td>
              <td>{{med.username}}</td>
              <td>{{med.email}}</td>
              <td>{{med.addresse}}</td>
              <td>{{med.number}}</td>
              <td>{{formatDate(med.date)}}</td>
              <td>
              <b> <p [ngClass]="{
              'text-danger': med.status === 'bloqué',
              'text-success': med.status === 'activé' || med.status === 'réactivé',
              'text-warning': med.status === 'en attente de réactivation',
              'text-info': med.status === 'en attente de validation'
              }">
                  {{med.status}}
                </p></b>


              </td>
              <td>
                <ng-container *ngIf="med.blockedByAdmin">
                  <button style="width:80px;"  (click)="DebloquerMedecin(med)" type="button" class="btn btn-success">Débloquer </button>

                </ng-container>
                <ng-container *ngIf="!med.blockedByAdmin&&med.validtologin&&!med.askForReactivation">
                  <button style="width:80px;" (click)="bloqueMedecinByAdmin(med)" type="button" class="btn  btn-danger">Bloquer </button>

                </ng-container>

                <ng-container *ngIf="!med.validtologin">
                  <button style="width:80px;" (click)="activateMedecin(med)" type="button" class="btn btn-success">Valider</button>
                </ng-container>
<!--                <ng-container *ngIf="med.validtologin&&!med.askForReactivation">-->
<!--                 <b> <p class="text-success">valide</p></b>-->
<!--                </ng-container>-->

                <ng-container *ngIf="med.askForReactivation">
                  <button style="width:80px;" (click)="ReactivateCeMedecin(med)" type="button" class="btn btn-success">Réactiver</button>
                </ng-container>
              </td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
