<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Liste des médecins</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="./">Home</a></li>
      <li class="breadcrumb-item">Tables</li>
      <li class="breadcrumb-item active" aria-current="page">liste des médecins</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h3 class="m-0 font-weight-bold text-primary">Les informations relatives aux comptes de vos médecins</h3>
        </div>
        <div class="table-responsive p-3">
          <table class="table align-items-center table-flush" id="dataTable">
            <thead class="thead-light">
            <tr>
              <th style="color: #0da8ee">Id</th>
              <th style="color: #0da8ee">Nom</th>
              <th style="color: #0da8ee">Prénom</th>
              <th style="color: #0da8ee">Email</th>
              <th style="color: #0da8ee">Adresse</th>
              <th style="color: #0da8ee">Numéro Telephone</th>
              <th style="color: #0da8ee">Date de création</th>
              <th style="color: #0da8ee">Statut Actuel </th>
              <th style="color: #0da8ee">Bloquer/Débloquer</th>
              <th style="color: #0da8ee">Valider  </th>
              <th style="color: #0da8ee">Réactiver </th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let med of medecins">
              <td>{{med.id}}</td>
              <td>{{med.name}}</td>
              <td>{{med.username}}</td>
              <td>{{med.email}}</td>
              <td>{{med.addresse}}</td>
              <td>{{med.number}}</td>
              <td>{{med.date}}</td>
              <td>
                <p style="color: whitesmoke" [ngClass]="{
                    ' bg-danger ': med.status === 'compte est bloqué',
                    'bg-primary ': med.status === 'compte est activé',
                    'bg-warning ': med.status === 'En attente de réactivation',
                     'bg-info ': med.status === 'En attente de validation',
                    'bg-success ': med.status === 'compte réactivé'
                }">{{med.status}}</p>
              </td>              <td>
                <button *ngIf="med.blockedByAdmin" (click)="DebloquerMedecin(med)" type="button" class="btn btn-success">Débloquer </button>
                <button *ngIf="!med.blockedByAdmin" (click)="bloqueMedecinByAdmin(med)" type="button" class="btn btn-danger">Bloquer </button>
              </td>
              <td>
                <button *ngIf="!med.validtologin" (click)="activateMedecin(med)" type="button" class="btn btn-primary">Valider </button>
                <p *ngIf="med.validtologin" class="text-white bg-success">Ce compte est valide</p>
              </td>
              <td>
                <button *ngIf="med.askForReactivation" (click)="ReactivateCeMedecin(med)" type="button" class="btn btn-primary">Réactiver </button>
                <p *ngIf="!med.askForReactivation"  class="text-white bg-success"></p>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
