<div class="main-content bg-body text-dark">
    <div class="container-fluid">
        <div class="row bg-body text-dark">
            <div class="col-md-12 bg-body text-dark" >
                <div class="cardo">
                    <div class="card-header card-header-danger">
                    </div>
                    <div class="formbold-main-wrapper">
        
                          <mat-stepper  #stepper>
                            <mat-step [stepControl]="firstFormGroup">
                              
                              <form [formGroup]="firstFormGroup">
                                <ng-template matStepLabel>Suivi Post Opératoire immédiat</ng-template>  
                      
                              
                                <mat-form-field>
                                  <mat-label  class="custom-label">Date de la chirurgie</mat-label>
                                  <input matInput [matDatepicker]="picker2" formControlName="date_chirurgie" placeholder="Date de chirurgie">
                                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                  <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                                <br>
                               
                                  <mat-form-field>
                                    <mat-label  class="custom-label">Date du suivi</mat-label>
                                    <input matInput [matDatepicker]="picker7" formControlName="date_suiui" placeholder="Date de consultation">
                                    <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                                    <mat-datepicker #picker7></mat-datepicker>
                                  </mat-form-field>
                                  <br>
                                 <label  class="titer" > Acte chirurgical</label>
                                   <br>
                                  <mat-checkbox  class="custom-label" class="example-margin" [formControl]="checkboxControl1" (change)="onChange()">Dissectomi</mat-checkbox>
                                  <br>
                                
                                  <mat-radio-group aria-label="Select an option" formControlName="dissectomie_etage" *ngIf="checkboxControl1.value">
                                    <br>
                                    <label style="padding-right: 30px;" class="custom-label">Etage  </label>
                                     <mat-radio-button style="padding-right: 30px;"  value="1">L3L4</mat-radio-button>
                                     <mat-radio-button style="padding-right: 30px;"  value="2">L4L5</mat-radio-button>
                                     <mat-radio-button style="padding-right: 30px;"  value="3">L5s1</mat-radio-button>

                                  </mat-radio-group>
                                <br> <br>
                                <mat-checkbox  class="custom-label" class="example-margin" [formControl]="checkboxControl2" (change)="onChange()">Liberation post</mat-checkbox>
                                  <br>
                                  <mat-radio-group aria-label="Select an option" formControlName="liberation_post_etage" *ngIf="checkboxControl2.value">
                                    <br>
                                    <label style="padding-right: 30px;" class="custom-label">Etage  </label>

                                   <mat-radio-button style="padding-right: 30px;"  value="1">L3L4</mat-radio-button>
                                   <mat-radio-button style="padding-right: 30px;"  value="2">L4L5</mat-radio-button>
                                   <mat-radio-button style="padding-right: 30px;"  value="3">L5s1</mat-radio-button>

                                </mat-radio-group>
                              <br> <br>
                              <mat-checkbox  class="custom-label" class="example-margin" [formControl]="checkboxControl3" (change)="onChange()">Arthrodése</mat-checkbox>
                              <br>

                              <mat-radio-group aria-label="Select an option" formControlName="arthrodese_etage" *ngIf="checkboxControl3.value">

                                <mat-checkbox  style="padding-right: 30px;"  value="1">PLlF</mat-checkbox>
                                <mat-checkbox  style="padding-right: 30px;"  value="2">postérieure</mat-checkbox>
                                <mat-checkbox  style="padding-right: 30px;"  value="3">postéro-Iatérale</mat-checkbox>
                                <mat-checkbox style="padding-right: 30px;"  value="3">OLIF</mat-checkbox>
                                <mat-checkbox style="padding-right: 30px;"  value="3">ALlF</mat-checkbox>

                              </mat-radio-group>
                              
                            <br> <br>
                                <label  class="custom-label">Complications per opératoire  </label>
                               
                                <mat-radio-group aria-label="Select an option" formControlName="complications_per_operatoire">
                                  <mat-radio-button style="padding-right: 30px;"  value="1">Non  </mat-radio-button>
                                  <mat-radio-button style="padding-right: 30px;"  value="2">Bréche méningée  </mat-radio-button>                                  
                                </mat-radio-group>
                                
                                <mat-form-field>
                                    <mat-label  class="custom-label">Autres</mat-label>
                                    <input matInput  placeholder="Auters">
                                  </mat-form-field>  
                                <br>
                                 
                                               
                                <div>

                                  <button style="padding-right: 30px;" class="button" mat-button matStepperNext (click)="savesFirstFormGroup()">Suivant</button>
                                </div>
                                <div>

                                </div>
                              </form>
                            </mat-step> 
                            <mat-step [stepControl]="symptomatologieFormGroup" label="Symptomatologie">
                              <form [formGroup]="symptomatologieFormGroup">
                                <br>

                                <mat-checkbox  class="custom-label" class="example-margin" [formControl]="checkboxControl1" (change)="onChange()">Lombalgie</mat-checkbox>
                                <br>
                              
                                <mat-radio-group aria-label="Select an option" formControlName="dissectomi" *ngIf="checkboxControl1.value">
                                   <mat-radio-button style="padding-right: 30px;"  value="1">Diminution</mat-radio-button>
                                   <mat-radio-button style="padding-right: 30px;"  value="2">persistence</mat-radio-button>
                                   <mat-radio-button style="padding-right: 30px;"  value="3">Aggravation</mat-radio-button>

                                </mat-radio-group>
                              <br>
                              <mat-checkbox  class="custom-label" class="example-margin" [formControl]="checkboxControl2" (change)="onChange()">Sciatique
                              </mat-checkbox>
                                <br>
                                <mat-radio-group aria-label="Select an option" formControlName="liberation_post" *ngIf="checkboxControl2.value">

                                  <mat-radio-button style="padding-right: 30px;"  value="1">Diminution</mat-radio-button>
                                  <mat-radio-button style="padding-right: 30px;"  value="2">persistence</mat-radio-button>
                                  <mat-radio-button style="padding-right: 30px;"  value="3">Aggravation</mat-radio-button>


                              </mat-radio-group>
                            <br>
                            <mat-checkbox  class="custom-label" class="example-margin" [formControl]="checkboxControl3" (change)="onChange()">Cruralgie</mat-checkbox>

                            <mat-radio-group aria-label="Select an option" formControlName="arthrodese" *ngIf="checkboxControl3.value">
<br>
                              <mat-radio-button style="padding-right: 30px;"  value="1">Diminution</mat-radio-button>
                                   <mat-radio-button style="padding-right: 30px;"  value="2">Persistence</mat-radio-button>
                                   <mat-radio-button style="padding-right: 30px;"  value="3">Aggravation</mat-radio-button>


                            </mat-radio-group>
                            <br>
                            <br>
                            <mat-checkbox style="padding-right: 30px;" class="example-margin" [formControl]="checkboxControl15" (change)="onChange()">Trouble vésico sphinctériens</mat-checkbox>
<br>
                                    <div *ngIf="checkboxControl15.value">
                                      <mat-checkbox style="padding-right: 30px;" [formControl]="checkboxControl7">Incontinence urinaire</mat-checkbox>
                                    
                                      <div *ngIf="checkboxControl7.value">
                                        <mat-radio-group aria-label="Select an option" formControlName="trouble_vesico_sphincteriens_Incontinence_urinaire">
                                          <mat-radio-button style="padding-right: 30px;" value="1">Au repos</mat-radio-button>
                                          <mat-radio-button style="padding-right: 30px;" value="2">A l'effort</mat-radio-button>
                                        </mat-radio-group>
                                      
                                      </div>
                                    
                                      <br>
                                      <mat-checkbox style="padding-right: 30px;" value="1">Constipation</mat-checkbox>
                                      <br>
                                      <mat-checkbox style="padding-right: 30px;" value="1">Incontinence anale</mat-checkbox>
                                      <br>
                                      <mat-checkbox style="padding-right: 30px;" value="1">Impériosité urinaire</mat-checkbox>
                                    </div>
                                    <br>
                                    <div>
                                      <button style="padding-right: 30px;" class="button" mat-button matStepperPrevious>Précédant</button>
    
                                      <button style="padding-right: 30px;" class="button" mat-button matStepperNext (click)="savesymptomatologieFormGroup()">Suivant</button>
                                    </div>
                                  </form>
                                </mat-step>
                                    <mat-step [stepControl]="thridFormGroup"label="ExamenPOST">
                              
                                      <form [formGroup]="thridFormGroup">
                                    <br>
                                    <label  class="custom-label" style="padding-right: 30px;" >Testing musculaire  </label>

                                    <br>
                                    <label  class="custom-label" style="padding-right: 30px;" >L2  </label>

                                   <mat-radio-group aria-label="Select an option" formControlName="testing_musculaire_L2">
                                       <mat-radio-button style="padding-right: 30px;" class="example-margin"value="1">0</mat-radio-button>
                                       <mat-radio-button style="padding-right: 30px;" class="example-margin"value="2">1</mat-radio-button>
                                       <mat-radio-button style="padding-right: 30px;" class="example-margin"value="3">2</mat-radio-button>  
                                       <mat-radio-button style="padding-right: 30px;" class="example-margin"value="4">3</mat-radio-button>   
                                       <mat-radio-button style="padding-right: 30px;" class="example-margin"value="5">4</mat-radio-button>   
                                       <mat-radio-button style="padding-right: 30px;" class="example-margin"value="6">5</mat-radio-button>   
                                       <mat-radio-button style="padding-right: 30px;" class="example-margin"value="7">NT</mat-radio-button>   

                               
                                     </mat-radio-group>
                                     <br>
                                     <label  class="custom-label" style="padding-right: 30px;" >L3  </label>
                                   
                                   <mat-radio-group aria-label="Select an option" formControlName="testing_musculaire_L3">
                                       <mat-radio-button style="padding-right: 30px;" class="example-margin"value="1">0</mat-radio-button>
                                       <mat-radio-button style="padding-right: 30px;" class="example-margin"value="2">1</mat-radio-button>
                                       <mat-radio-button style="padding-right: 30px;" class="example-margin"value="3">2</mat-radio-button>  
                                       <mat-radio-button style="padding-right: 30px;" class="example-margin"value="4">3</mat-radio-button>   
                                       <mat-radio-button style="padding-right: 30px;" class="example-margin"value="5">4</mat-radio-button>   
                                       <mat-radio-button style="padding-right: 30px;" class="example-margin"value="6">5</mat-radio-button>   
                                       <mat-radio-button style="padding-right: 30px;" class="example-margin"value="7">NT</mat-radio-button>   

                               
                                     </mat-radio-group>
                                     <br><label class="custom-label"style="padding-right: 30px;" >L4  </label>
                                     
                                    <mat-radio-group aria-label="Select an option" formControlName="testing_musculaire_L4">
                                        <mat-radio-button style="padding-right: 30px;" class="example-margin"value="1">0</mat-radio-button>
                                        <mat-radio-button style="padding-right: 30px;" class="example-margin"value="2">1</mat-radio-button>
                                        <mat-radio-button style="padding-right: 30px;" class="example-margin"value="3">2</mat-radio-button>  
                                        <mat-radio-button style="padding-right: 30px;" class="example-margin"value="4">3</mat-radio-button>   
                                        <mat-radio-button style="padding-right: 30px;" class="example-margin"value="5">4</mat-radio-button>   
                                        <mat-radio-button style="padding-right: 30px;" class="example-margin"value="6">5</mat-radio-button>   
                                        <mat-radio-button style="padding-right: 30px;" class="example-margin"value="7">NT</mat-radio-button>   

                                
                                      </mat-radio-group>
                                      <br>
                                      <label class="custom-label" style="padding-right: 30px;" >L5  </label>
                                    
                                     <mat-radio-group aria-label="Select an option" formControlName="testing_musculaire_L5">
                                         <mat-radio-button style="padding-right: 30px;" class="example-margin"value="1">0</mat-radio-button>
                                         <mat-radio-button style="padding-right: 30px;" class="example-margin"value="2">1</mat-radio-button>
                                         <mat-radio-button style="padding-right: 30px;" class="example-margin"value="3">2</mat-radio-button>  
                                         <mat-radio-button style="padding-right: 30px;" class="example-margin"value="4">3</mat-radio-button>   
                                         <mat-radio-button style="padding-right: 30px;" class="example-margin"value="5">4</mat-radio-button>   
                                         <mat-radio-button style="padding-right: 30px;" class="example-margin"value="6">5</mat-radio-button>   
                                         <mat-radio-button style="padding-right: 30px;" class="example-margin"value="7">NT</mat-radio-button>   

                                 
                                       </mat-radio-group>
                                       <br>
                                       <label  class="custom-label" style="padding-right: 30px;" >S1  </label>
                                    
                                      <mat-radio-group aria-label="Select an option" formControlName="testing_musculaire_S1">
                                          <mat-radio-button style="padding-right: 30px;" class="example-margin"value="1">0</mat-radio-button>
                                          <mat-radio-button style="padding-right: 30px;" class="example-margin"value="2">1</mat-radio-button>
                                          <mat-radio-button style="padding-right: 30px;" class="example-margin"value="3">2</mat-radio-button>  
                                          <mat-radio-button style="padding-right: 30px;" class="example-margin"value="4">3</mat-radio-button>   
                                          <mat-radio-button style="padding-right: 30px;" class="example-margin"value="5">4</mat-radio-button>   
                                          <mat-radio-button style="padding-right: 30px;" class="example-margin"value="6">5</mat-radio-button>   
                                          <mat-radio-button style="padding-right: 30px;" class="example-margin"value="7">NT</mat-radio-button>   

                                  
                                        </mat-radio-group>
                                        <br>

                                        <label  class="custom-label" style="padding-right: 30px;" >Sensibilté  </label>
<br>
                                        <label  class="custom-label" style="padding-right: 30px;" >L2  </label>
                                       
                                       <mat-radio-group aria-label="Select an option" formControlName="sensibilte_L2">
                                           <mat-radio-button style="padding-right: 30px;" class="example-margin"value="1">Normale</mat-radio-button>
                                           <mat-radio-button style="padding-right: 30px;" class="example-margin"value="2">Hypoaesthésie</mat-radio-button>
                                           <mat-radio-button style="padding-right: 30px;" class="example-margin"value="3">Anesthésie</mat-radio-button>  
                                             
                                         </mat-radio-group>
                                         <br>
                                         <label  class="custom-label" style="padding-right: 30px;" >L3  </label>
                                      
                                       <mat-radio-group aria-label="Select an option"formControlName="sensibilte_L3">
                                           <mat-radio-button style="padding-right: 30px;" class="example-margin"value="1">Normale</mat-radio-button>
                                           <mat-radio-button style="padding-right: 30px;" class="example-margin"value="2">Hypoaesthésie</mat-radio-button>
                                           <mat-radio-button style="padding-right: 30px;" class="example-margin"value="3">Anesthésie</mat-radio-button>  
                                       </mat-radio-group>
                                         <br>
                                         <label  class="custom-label"  style="padding-right: 30px;" >L4  </label>
                                        
                                        <mat-radio-group aria-label="Select an option"formControlName="sensibilte_L4">
                                            <mat-radio-button style="padding-right: 30px;" class="example-margin"value="1">Normale</mat-radio-button>
                                            <mat-radio-button style="padding-right: 30px;" class="example-margin"value="2">Hypoaesthésie</mat-radio-button>
                                            <mat-radio-button style="padding-right: 30px;" class="example-margin"value="3">Anesthésie</mat-radio-button>  
                                          
                                          </mat-radio-group>
                                          <br><label class="custom-label"  style="padding-right: 30px;" >L5  </label>
                                        
                                         <mat-radio-group aria-label="Select an option"formControlName="sensibilte_L5">
                                             <mat-radio-button style="padding-right: 30px;" class="example-margin"value="1">Normale</mat-radio-button>
                                             <mat-radio-button style="padding-right: 30px;" class="example-margin"value="2">Hypoaesthésie</mat-radio-button>
                                             <mat-radio-button style="padding-right: 30px;" class="example-margin"value="3">Anesthésie</mat-radio-button>  
                                             

                                     
                                           </mat-radio-group>
                                           <br><label class="custom-label" style="padding-right: 30px;" >S1  </label>
                                        
                                          <mat-radio-group aria-label="Select an option"formControlName="sensibilte_S1">
                                              <mat-radio-button style="padding-right: 30px;" class="example-margin"value="1">Normale</mat-radio-button>
                                              <mat-radio-button style="padding-right: 30px;" class="example-margin"value="2">Hypoaesthésie</mat-radio-button>
                                              <mat-radio-button style="padding-right: 30px;" class="example-margin"value="3">Anesthésie</mat-radio-button>  
                                            </mat-radio-group>
                                            <br>
                                            <br><label class="custom-label" style="padding-right: 30px;" >Examen périnée   </label><br>
                                            <br><label class="custom-label" style="padding-right: 30px;" >Sensibilité  </label>

                                            
                                           <mat-radio-group aria-label="Select an option"formControlName="examen_perinee_sensibilite">
                                               <mat-radio-button style="padding-right: 30px;" class="example-margin"value="1">Normale</mat-radio-button>
                                               <mat-radio-button style="padding-right: 30px;" class="example-margin"value="2">Hypoaesthésie</mat-radio-button>
                                               <mat-radio-button style="padding-right: 30px;" class="example-margin"value="3">Anesthésie</mat-radio-button> 
                                             </mat-radio-group>
                                             <br>
                                             <br><label class="custom-label" style="padding-right: 30px;" >Tonus anal</label>
                                            
                                            <mat-radio-group aria-label="Select an option"formControlName="examen_perinee_Tonus_anal">
                                                <mat-radio-button style="padding-right: 30px;" class="example-margin"value="1">Normal</mat-radio-button>
                                                <mat-radio-button style="padding-right: 30px;" class="example-margin"value="2">Diminué</mat-radio-button>
                                                <mat-radio-button style="padding-right: 30px;" class="example-margin"value="3">Pas de tonus</mat-radio-button> 
                                              </mat-radio-group>
                                              <br>
                                              <br>
                                              <label class="custom-label" style="padding-right: 30px;" >Refléxe anal  </label>
                                             
                                              <mat-radio-group aria-label="Select an option"formControlName="examen_perinee_Reflexe_anal">
                                               <mat-radio-button style="padding-right: 30px;" class="example-margin"value="1">Présent</mat-radio-button>
                                                 <mat-radio-button style="padding-right: 30px;" class="example-margin"value="2">Faible</mat-radio-button>
                                                 <mat-radio-button style="padding-right: 30px;" class="example-margin"value="3">Aboli</mat-radio-button> 
                                               </mat-radio-group>
                                               <br>
                                               <div>
                                                <button style="padding-right: 30px;" class="button" mat-button matStepperPrevious>Précédant</button>

                                                <button  style="padding-right: 30px;" class="button" mat-button matStepperNext (click)="saveExamen_op()">Enregistrer  </button>
                                              </div>
                               
                              </form>
                            </mat-step>