<div class="main-content bg-body text-dark">
    <div class="container-fluid">
        <div class="row bg-body text-dark">
            <div class="col-md-12 bg-body text-dark" >
                <div class="cardo">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Ajouter Suivi Post Op immédiat</h4>
                    </div>
                    <div class="formbold-main-wrapper">
        
                          <mat-stepper  #stepper>
                            <mat-step [stepControl]="firstFormGroup">
                              
                              <form [formGroup]="firstFormGroup">
                                <ng-template matStepLabel>Suivi Post Op immédiat</ng-template>  
                      
                              
                                <mat-form-field>
                                  <mat-label  class="custom-label">Date de chirurgie</mat-label>
                                  <input matInput [matDatepicker]="picker2" formControlName="date_chirurgie" placeholder="Date de chirurgie">
                                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                  <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                                <br>
                               
                                  <mat-form-field>
                                    <mat-label  class="custom-label">Date de consultation</mat-label>
                                    <input matInput [matDatepicker]="picker7" formControlName="date_suiui" placeholder="Date de consultation">
                                    <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                                    <mat-datepicker #picker7></mat-datepicker>
                                  </mat-form-field>
                                  <br>
                                 <label  class="titer" > Acte chirurgical</label>
                                   <br>
                                  <mat-checkbox  class="custom-label" class="example-margin" [formControl]="checkboxControl1" (change)="onChange()">Dissectomi</mat-checkbox>
                                  <br>
                                
                                  <mat-radio-group aria-label="Select an option" formControlName="dissectomie_etage" *ngIf="checkboxControl1.value">
                                    <label  class="custom-label">Etage  </label>
                                     <mat-radio-button style="padding-right: 30px;"  value="1">L3L4</mat-radio-button>
                                     <mat-radio-button style="padding-right: 30px;"  value="2">L4L5</mat-radio-button>
                                     <mat-radio-button style="padding-right: 30px;"  value="3">L5s1</mat-radio-button>

                                  </mat-radio-group>
                                <br>
                                <mat-checkbox  class="custom-label" class="example-margin" [formControl]="checkboxControl2" (change)="onChange()">liberation_post</mat-checkbox>
                                  <br>
                                  <mat-radio-group aria-label="Select an option" formControlName="liberation_post_etage" *ngIf="checkboxControl2.value">
                                    <label  class="custom-label">Etage  </label>

                                   <mat-radio-button style="padding-right: 30px;"  value="1">L3L4</mat-radio-button>
                                   <mat-radio-button style="padding-right: 30px;"  value="2">L4L5</mat-radio-button>
                                   <mat-radio-button style="padding-right: 30px;"  value="3">L5s1</mat-radio-button>

                                </mat-radio-group>
                              <br>
                              <mat-checkbox  class="custom-label" class="example-margin" [formControl]="checkboxControl3" (change)="onChange()">arthrodese</mat-checkbox>
                              <br>

                              <mat-radio-group aria-label="Select an option" formControlName="arthrodese_etage" *ngIf="checkboxControl3.value">
                                <label  class="custom-label">Etage    </label>

                                <mat-radio-button  style="padding-right: 30px;"  value="1">PLlF</mat-radio-button>
                                <mat-radio-button  style="padding-right: 30px;"  value="2">postérieure</mat-radio-button>
                                <mat-radio-button  style="padding-right: 30px;"  value="3">postéro-Iatérale</mat-radio-button>
                                <mat-radio-button style="padding-right: 30px;"  value="3">OLIF</mat-radio-button>
                                <mat-radio-button style="padding-right: 30px;"  value="3">ALlF</mat-radio-button>

                              </mat-radio-group>
                              
                            <br>
                                <label  class="custom-label">Complications per opératoire  </label>
                               
                                <mat-radio-group aria-label="Select an option" formControlName="complications_per_operatoire">
                                  <mat-radio-button style="padding-right: 30px;"  value="1">NON  </mat-radio-button>
                                  <mat-radio-button style="padding-right: 30px;"  value="2">Bréche méningée  </mat-radio-button>                                  
                                </mat-radio-group>
                                
                                <mat-form-field>
                                    <mat-label>Auter</mat-label>
                                    <input matInput  placeholder="Auter">
                                  </mat-form-field>  
                                <br>
                                <label class="custom-label">Symptomatologie</label>
                                <br>
                                <label    class="custom-label"  >Lombalgie</label >
                                    <mat-radio-group aria-label="Select an option" formControlName="symptomatologie_Lombalgie" >
                                     
                                   <mat-radio-button style="padding-right: 30px;"  value="1">Diminution   </mat-radio-button>
                                   <mat-radio-button style="padding-right: 30px;"  value="2">Persistence  </mat-radio-button>
                                   <mat-radio-button style="padding-right: 30px;"  value="3">Aggravation  </mat-radio-button>
  
                                </mat-radio-group>
                                <br>
                               
                                <label    class="custom-label"  >Symptomatologie Sciatique</label >
                                <mat-radio-group aria-label="Select an option" formControlName="symptomatologie_Sciatique" >
                                   
                                   <mat-radio-button  style="padding-right: 30px;"  value="1">Diminution   </mat-radio-button>
                                   <mat-radio-button style="padding-right: 30px;"  value="2">Persistence   </mat-radio-button>
                                   <mat-radio-button style="padding-right: 30px;"  value="3">Aggravation   </mat-radio-button>
  
                                </mat-radio-group>
                                <br>
                               
                                <label    class="custom-label"  >Symptomatologie Cruralgie</label >
                                    <mat-radio-group aria-label="Select an option" formControlName="symptomatologie_Cruralgie">
                                        
                                   <mat-radio-button style="padding-right: 30px;"  value="1">Diminution</mat-radio-button>
                                   <mat-radio-button style="padding-right: 30px;"  value="2">Persistence</mat-radio-button>
                                   <mat-radio-button style="padding-right: 30px;"  value="3">Aggravation</mat-radio-button>
  
                                </mat-radio-group>
                                <br>
                                <label    class="custom-label"  >Sphinctériens</label >
                                <mat-radio-group aria-label="Select an option" formControlName="symptomatologie_sphinctériens" >
                                 
                                <mat-radio-button style="padding-right: 30px;"  value="1">Incontinence urinaire</mat-radio-button>
                                   <mat-radio-button style="padding-right: 30px;"  value="2">Constipation</mat-radio-button>
                                   <mat-radio-button style="padding-right: 30px;"  value="3">Incontinence anale</mat-radio-button>
                                <mat-radio-button style="padding-right: 30px;"  value="3">Impériosité urinaire</mat-radio-button>
                                </mat-radio-group>
                                <br>
                                <label  class="custom-label">Testing musculaire (motricité)</label>
                                <br>
                                             <label  class="custom-label">L2  </label>
                                             <br>
                                            <mat-radio-group aria-label="Select an option" formControlName="examen_Post_Testing_musculaire_l2">
                                                <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="1" >0</mat-radio-button>
                                                <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="2">1</mat-radio-button>
                                                <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="3">2</mat-radio-button>  
                                                <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="4">3</mat-radio-button>   
                                                <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="5">4</mat-radio-button>   
                                                <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="6">5</mat-radio-button>   
                                                <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="7">NT</mat-radio-button>   

                                        
                                              </mat-radio-group>
                                              <br>
                                              <label  class="custom-label">L3  </label>
                                             <br>
                                            <mat-radio-group aria-label="Select an option" formControlName="examen_Post_Testing_musculaire_l3">
                                                <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="1">0</mat-radio-button>
                                                <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="2">1</mat-radio-button>
                                                <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="3">2</mat-radio-button>  
                                                <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="4">3</mat-radio-button>   
                                                <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="5">4</mat-radio-button>   
                                                <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="6">5</mat-radio-button>   
                                                <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="7">NT</mat-radio-button>   

                                        
                                              </mat-radio-group>
                                              <br><label  class="custom-label">L4  </label>
                                              <br>
                                             <mat-radio-group aria-label="Select an option" formControlName="examen_Post_Testing_musculaire_l4">
                                                 <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="1">0</mat-radio-button>
                                                 <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="2">1</mat-radio-button>
                                                 <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="3">2</mat-radio-button>  
                                                 <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="4">3</mat-radio-button>   
                                                 <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="5">4</mat-radio-button>   
                                                 <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="6">5</mat-radio-button>   
                                                 <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="7">NT</mat-radio-button>   

                                         
                                               </mat-radio-group>
                                               <br><label  class="custom-label">S1  </label>
                                               <br>
                                              <mat-radio-group aria-label="Select an option" formControlName="examen_Post_Testing_musculaire_s1">
                                                  <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="1">0</mat-radio-button>
                                                  <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="2">1</mat-radio-button>
                                                  <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="3">2</mat-radio-button>  
                                                  <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="4">3</mat-radio-button>   
                                                  <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="5">4</mat-radio-button>   
                                                  <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="6">5</mat-radio-button>   
                                                  <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="7">NT</mat-radio-button>   
                                                </mat-radio-group>
                                                
                                                 <br>
                                                 <br>
                                                 <label  class="custom-label">Examen Post-Op Sensibilté </label>
                                                 <br>
                                                 <label  class="custom-label"> L2 </label>
                                                 <br>
                                                <mat-radio-group aria-label="Select an option" formControlName="examen_Post_Sensibilte_musculaire_l2">
                                                    <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="1">Normale</mat-radio-button>
                                                    <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="2">Hypoaesthésie</mat-radio-button>
                                                    <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="3">Anesthésie</mat-radio-button>  
                                                      
   
                                            
                                                  </mat-radio-group>
                                                  <br>
                                                  <label  class="custom-label">L3  </label>
                                                 <br>
                                                <mat-radio-group aria-label="Select an option"formControlName="examen_Post_Sensibilte_musculaire_l3">
                                                    <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="1">Normale</mat-radio-button>
                                                    <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="2">Hypoaesthésie</mat-radio-button>
                                                    <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="3">Anesthésie</mat-radio-button>  
              </mat-radio-group>
                                                  <br><label  class="custom-label">L4  </label>
                                                  <br>
                                                 <mat-radio-group aria-label="Select an option"formControlName="examen_Post_Sensibilte_musculaire_l4">
                                                     <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="1">Normale</mat-radio-button>
                                                     <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="2">Hypoaesthésie</mat-radio-button>
                                                     <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="3">Anesthésie</mat-radio-button>  
                                                   
                                                   </mat-radio-group>
                                                   <br><label  class="custom-label">L5  </label>
                                                   <br>
                                                  <mat-radio-group aria-label="Select an option"formControlName="examen_Post_Sensibilte_musculaire_l5">
                                                      <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="1">Normale</mat-radio-button>
                                                      <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="2">Hypoaesthésie</mat-radio-button>
                                                      <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="3">Anesthésie</mat-radio-button>  
                                                      
     
                                              
                                                    </mat-radio-group>
                                                    <br><label  class="custom-label">S1  </label>
                                                    <br>
                                                   <mat-radio-group aria-label="Select an option"formControlName="examen_Post_Sensibilte_musculaire_s1">
                                                       <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="1">Normale</mat-radio-button>
                                                       <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="2">Hypoaesthésie</mat-radio-button>
                                                       <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="3">Anesthésie</mat-radio-button>  
                                              
                                                     </mat-radio-group>
                                                     <br>
                                                     <br><label  class="custom-label">Examen périnée  </label>
                                                     <label  class="custom-label">sensibilité </label>
                                                     <br>
                                                    <mat-radio-group aria-label="Select an option"formControlName="examen_Post_Examen_perinee_sensibilite">
                                                        <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="1">Normale</mat-radio-button>
                                                        <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="2">Hypoaesthésie</mat-radio-button>
                                                        <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="3">Anesthésie</mat-radio-button>  
                                                      </mat-radio-group>
                                                      <br>
                                                     <label  class="custom-label">Tonus anal </label>
                                                     <br>
                                                    <mat-radio-group aria-label="Select an option"formControlName="examen_Post_Examen_perinee_Tonus_anal">
                                                        <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="1">Normale</mat-radio-button>
                                                        <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="2">Diminué</mat-radio-button>
                                                        <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="3">Pas de tonus</mat-radio-button>  
                                                      </mat-radio-group>
                                                      <br>
                                                      <label  class="custom-label">Refléxe anal </label>
                                                      <br>
                                                     <mat-radio-group aria-label="Select an option"formControlName="examen_Post_Examen_perinee_Reflexe_anal">
                                                         <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="1">Normale</mat-radio-button>
                                                         <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="2">Diminué</mat-radio-button>
                                                         <mat-radio-button style="padding-right: 30px;"  class="example-margin"value="3">Pas de tonus</mat-radio-button>  
                                                       </mat-radio-group>

                                <div>
                                  <button  style="padding-right: 30px;" class="button" mat-button matStepperNext (click)="addsuiviImed()">Enregistrer Suivi Post Immediat </button>
                                </div>
                              </form>
                            </mat-step> 