<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
<div style="padding-top:50px;" class="containero container bootstrap snippets bootdey">
  <div class="header d-flex justify-content-between align-items-center">
    <h3>Nom: <b>{{ fichepatient.name }}</b></h3>
      <h3>Prénom: <b>{{ fichepatient.username }}</b></h3>

      <h3>Sexe: <b>{{ fichepatient.sexe }}</b></h3>
    <h3>Age: <b>55 ans</b></h3>
    <h3>Numéro de téléphone: <b>{{ fichepatient.telephone }}</b></h3>

<!--    <h3>Adresse: <b>{{ fichepatient.addresse }}</b></h3>-->
      <h3>Supervisé par le Doc: <b>{{ fichepatient.medecin.username }}</b></h3>

  </div>
</div>
<div class="container">
  <div class="row text-center justify-content-center mb-5">
    <div class="col-xl-6 col-lg-8">
      <h2 class="font-weight-bold">Historique relative de ce patient </h2>
      <p class="text-muted">Cette chronologie résume l'historique des consultations médicales réalisées pour diagnostiquer ce patient.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
        <div class="timeline-step">
          <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2003">
            <div class="inner-circle"></div>
            <p class="h6 mt-3 mb-1">2003</p>
            <p class="h6 text-muted mb-0 mb-lg-0">la première consultation</p>
          </div>
        </div>
        <div class="timeline-step">
          <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2004">
            <div class="inner-circle"></div>
            <p class="h6 mt-3 mb-1">2004</p>
            <p class="h6 text-muted mb-0 mb-lg-0">la deuxième consultation</p>
          </div>
        </div>
        <div class="timeline-step">
          <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2005">
            <div class="inner-circle"></div>
            <p class="h6 mt-3 mb-1">2005</p>
            <p class="h6 text-muted mb-0 mb-lg-0">la troisième consultation</p>
          </div>
        </div>
        <div class="timeline-step">
          <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2010">
            <div class="inner-circle"></div>
            <p class="h6 mt-3 mb-1">2010</p>
            <p class="h6 text-muted mb-0 mb-lg-0">la quatrième consultation</p>
          </div>
        </div>
        <div class="timeline-step mb-0">
          <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2020">
            <div class="inner-circle"></div>
            <p class="h6 mt-3 mb-1">2020</p>
            <p class="h6 text-muted mb-0 mb-lg-0">la cinquième consultation</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="padding-top:50px;" class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="col-sm-8 col-md-9 col-lg-9 text-center">
      <h1 class="text-primary"><b>Une vision sur les Informations relatives à le patient <b>{{ fichepatient.username }} : </b> </b></h1>
    </div>
  </div>
  <div class="row">
    <div class="media">
      <div class="row">
        <div class="media-img col-sm-4 col-md-3 col-lg-3">
          <div class="img-overlay">
            <a href="#" class="btn btn-primary">Voir plus de détails</a>
          </div>
          <img class="port-image" src="../../../assets/img/suivit.png">
        </div>
        <div class="col-sm-8 col-md-9 col-lg-9">
          <h3>
            <a href="#">
              Fiche Patient
            </a>
          </h3>

            <div class="container my-4">
                <p class="text-justify">
                    <strong>Informations Médicales :</strong> Le patient est actuellement suivi pour <span class="text-primary">[Diagnostique(s) Principal(aux)]</span>. Les traitements en cours incluent <span class="text-primary">[Traitements]</span>, avec des résultats d'examens récents indiquant <span class="text-primary">[Résultats Pertinents]</span>.<br>
                    <strong>Suivi Médical :</strong> La dernière consultation a eu lieu le <span class="text-primary">[Dernière Date de Consultation]</span>, où il a été recommandé de <span class="text-primary">[Recommandations Médicales]</span>. La prochaine étape du traitement consiste en <span class="text-primary">[Prochaines Étapes]</span>.<br>
                </p>
            </div>
        </div>
      </div>
    </div>

    <div class="media">
      <div class="row">
        <div class="media-img col-sm-4 col-md-3 col-lg-3">
          <div class="img-overlay">
            <a href="#" class="btn btn-primary">Voir plus de détails</a>
          </div>
          <img class="port-image" src="../../../assets/img/sui1.jpg">
        </div>
        <div class="col-sm-8 col-md-9 col-lg-9">
          <h3>
            <a href="#">
              Suivit Post Opt  Immediat
            </a>
          </h3>

            <div class="container my-4">
                <p class="text-justify">
                    <strong>Informations Médicales :</strong> Le patient est actuellement suivi pour <span class="text-primary">[Diagnostique(s) Principal(aux)]</span>. Les traitements en cours incluent <span class="text-primary">[Traitements]</span>, avec des résultats d'examens récents indiquant <span class="text-primary">[Résultats Pertinents]</span>.<br>
                    <strong>Suivi Médical :</strong> La dernière consultation a eu lieu le <span class="text-primary">[Dernière Date de Consultation]</span>, où il a été recommandé de <span class="text-primary">[Recommandations Médicales]</span>. La prochaine étape du traitement consiste en <span class="text-primary">[Prochaines Étapes]</span>.<br>
                </p>
            </div>
        </div>
      </div>
    </div>

    <div class="media">
      <div class="row">
        <div class="media-img col-sm-4 col-md-3 col-lg-3">
          <div class="img-overlay">
            <a href="#" class="btn btn-primary">Voir plus de détails</a>
          </div>
          <img class="port-image" src="../../../assets/img/staff.jpg">
        </div>
        <div class="col-sm-8 col-md-9 col-lg-9">
          <h3>
            <a href="#">
             Staff
            </a>
          </h3>

            <div class="container my-4">
                <p class="text-justify">
                    <strong>Informations Médicales :</strong> Le patient est actuellement suivi pour <span class="text-primary">[Diagnostique(s) Principal(aux)]</span>. Les traitements en cours incluent <span class="text-primary">[Traitements]</span>, avec des résultats d'examens récents indiquant <span class="text-primary">[Résultats Pertinents]</span>.<br>
                    <strong>Suivi Médical :</strong> La dernière consultation a eu lieu le <span class="text-primary">[Dernière Date de Consultation]</span>, où il a été recommandé de <span class="text-primary">[Recommandations Médicales]</span>. La prochaine étape du traitement consiste en <span class="text-primary">[Prochaines Étapes]</span>.<br>
                </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
