<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
<div style="padding-top:50px;" class="containero container bootstrap snippets bootdey">
  <div class="header d-flex justify-content-between align-items-center">
    <h3>Nom du patient: <b>Foulen BenFlen</b></h3>
    <h3>Sexe: <b>Homme</b></h3>
    <h3>Age: <b>55 ans</b></h3>
    <h3>Numéro de téléphone: <b>12345678</b></h3>
    <h3>Status Sociale <b>Marié</b></h3>

    <h3>Adresse: <b>12 rue de la paix</b></h3>
  </div>
</div>

<div style="padding-top:50px;" class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="col-sm-8 col-md-9 col-lg-9 text-center">
      <h1 class="text-primary"><b>Les Informations relatives à le patient <b>Foulen BenFlen</b> </b></h1>
    </div>
  </div>
  <div class="row">
    <div class="media">
      <div class="row">
        <div class="media-img col-sm-4 col-md-3 col-lg-3">
          <div class="img-overlay">
            <a href="#" class="btn btn-primary">Details</a>
          </div>
          <img class="port-image" src="https://www.bootdey.com/image/400x400/87CEEB/000000">
        </div>
        <div class="col-sm-8 col-md-9 col-lg-9">
          <h3>
            <a href="#">
              Fiche Patient
            </a>
          </h3>

          <p>
            A complete description for this work y para no utilizar lorem ipsum escribire mucho texto por ejemplo Bootdey es una galería de fragmentos de bootstrap gratis Códigos html Css Js
          </p>
        </div>
      </div>
    </div>

    <div class="media">
      <div class="row">
        <div class="media-img col-sm-4 col-md-3 col-lg-3">
          <div class="img-overlay">
            <a href="#" class="btn btn-primary">Details</a>
          </div>
          <img class="port-image" src="https://www.bootdey.com/image/400x400/6A5ACD/000000">
        </div>
        <div class="col-sm-8 col-md-9 col-lg-9">
          <h3>
            <a href="#">
              Suivit Post Opt  Immediat
            </a>
          </h3>

          <p>
            A complete description for this work y para no utilizar lorem ipsum escribire mucho texto por ejemplo Bootdey es una galería de fragmentos de bootstrap gratis Códigos html Css Js
          </p>
        </div>
      </div>
    </div>

    <div class="media">
      <div class="row">
        <div class="media-img col-sm-4 col-md-3 col-lg-3">
          <div class="img-overlay">
            <a href="#" class="btn btn-primary">Details</a>
          </div>
          <img class="port-image" src="https://www.bootdey.com/image/400x400/FF4500/000000">
        </div>
        <div class="col-sm-8 col-md-9 col-lg-9">
          <h3>
            <a href="#">
             Staff
            </a>
          </h3>

          <p>
            A complete description for this work y para no utilizar lorem ipsum escribire mucho texto por ejemplo Bootdey es una galería de fragmentos de bootstrap gratis Códigos html Css Js
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
