<div class="container">
  <div class="card">
    <p class="h-1">Créer une Notification</p>
    <div class="bar mb-3"></div>
    <div class="row">
      <div class="col-12">
        <p class="mb-2">Titre</p>
        <div class="box mb-3">
          <input type="text" class="form-control" placeholder="Titre de la notification">

        </div>
        <p class="mb-2">Description</p>

        <div class="box mb-3">
          <input type="text" class="form-control" placeholder="Description de la notification">

        </div>

      </div>
      <div class="col-12">
        <div class="box mb-3">
          <button class="btn-facebook">
            <i class="fas fa-plus"></i> Ajouter un fichier
          </button>
        </div>
      </div>
      <div class="col-12">
        <p class="mb-2">Date </p>
        <div class="box">
          <input class="form-control" type="datetime-local">
        </div>
      </div>

      <div class="col-12">
        <p class="mb-2">Sélectionner les destinataires</p>
        <div class="box mb-3">
          <select class="form-control" *ngFor="let l of listofuser">
            <option value="medic1">{{ l.username }}</option>

          </select>
        </div>
      </div>
      <div class="col-12">
        <div class="d-md-flex align-items-center mt-4">

          <div style="margin-left: 10px;">
            <p class="mb-2">Définir un Rappel</p>
            <input style="width: 230px" class="form-control" type="number" placeholder="1 heure avant la notification">
          </div>
        </div>
      </div>
      <div class="col-12 text-center mt-4">
        <button type="submit" class="btn btn-primary">Evoyer cette notification</button>
      </div>
    </div>
  </div>
</div>
