<app-navbar></app-navbar>

<div class="container">
    <div class="card">
        <h2 class="heading">SOYEZ LE BIENVENUE</h2>
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <div class="form">
                <div class="input-group">
                    <label for="username" class="input-label">Nom/Email</label>
                    
                    <input type="text" name="username" id="username" class="input-box" placeholder="email or username" formControlName="username">
                    <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="text-danger">
                        <div *ngIf="username?.errors?.['required']">Nom/Email is required.</div>
                        <div *ngIf="username?.errors?.['email']">Invalid email format.</div>
                    </div>
                </div>
                <div class="input-group">
                    <label for="password" class="input-label">Mot de passe</label>
                    <input type="password" name="password" id="password" class="input-box" placeholder="*********" formControlName="password">
                    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-danger">
                        <div *ngIf="password?.errors?.['required']">Mot de passe is required.</div>
                        <div *ngIf="password?.errors?.['minlength']">Mot de passe must be at least 6 characters long.</div>
                    </div>
                </div>
                
            </div>
            <p class="text-center">
                <button class="btn" type="submit" [disabled]="signInForm.invalid">Login</button>
            </p>
        </form>
    </div>
    <a routerLink="/ForgetPassword" style="text-decoration: blue; text-shadow: 0cap;"> mot de passe oublié ? </a>
</div>



