<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-white profile-widget">
          <div class="row">
            <div class="col-sm-12">
              <div class="image-container bg2">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="avatar" alt="avatar">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="details">
                <h4>Docteur <span (dblclick)="enableEdit('username')" *ngIf="!editMode.username">{{user.username}}</span><input *ngIf="editMode.username" [(ngModel)]="user.username" (blur)="disableEdit('username')" />
                  <i style="margin-left: 5px" class="fa fa-shield"></i></h4>
                <div>Travaillé à l'hopitale <span (dblclick)="enableEdit('adresse')" *ngIf="!editMode.adresse">{{user.adresse}}</span><input *ngIf="editMode.adresse" [(ngModel)]="user.adresse" (blur)="disableEdit('adresse')" /></div>
                <div class="mg-top-30 "  style="margin:20px;margin-outside: 10px " >
                  <a href="#"    class="btn btn-blue">Consulter la liste des patients</a>
                  <a href="#" style="margin-left:5px;" class="btn btn-red">Se déconnecter</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="panel panel-white border-top-purple">
              <div class="panel-heading">
                <h3 class="panel-title">Description</h3>
                <div class="controls pull-right">
                                    <span class="pull-right clickable">
                                        <i class="fa fa-chevron-up"></i>
                                    </span>
                </div>
              </div>
              <div class="panel-body">
                <div class="body-section">
                  <h5 class="section-heading">À propos</h5>
                  <p (dblclick)="enableEdit('about')" *ngIf="!editMode.about">{{user.about}}</p><input *ngIf="editMode.about" [(ngModel)]="user.about" (blur)="disableEdit('about')" />
                </div>
                <div class="body-section">
                  <h5 class="section-heading">Introduction</h5>
                  <p (dblclick)="enableEdit('introduction')" *ngIf="!editMode.introduction">{{user.introduction}}</p><input *ngIf="editMode.introduction" [(ngModel)]="user.introduction" (blur)="disableEdit('introduction')" />
                </div>
                <div class="body-section">
                  <h5 class="section-heading">Achievements</h5>
                  <p (dblclick)="enableEdit('achievements')" *ngIf="!editMode.achievements">{{user.achievements}}</p><input *ngIf="editMode.achievements" [(ngModel)]="user.achievements" (blur)="disableEdit('achievements')" />
                </div>
                <div class="body-section">
                  <button class="btn btn-purple btn-sm" (click)="saveChanges()">Enregistrer les changements</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="panel panel-white border-top-green">
              <div class="panel-heading">
                <h3 class="panel-title">Informations Personnelles</h3>
                <div class="controls pull-right">
                                    <span class="pull-right clickable">
                                        <i class="fa fa-chevron-up"></i>
                                    </span>
                </div>
              </div>
              <div class="panel-body">
                <div class="body-section">
                  <h5 class="section-heading">Nom</h5>
                  <p (dblclick)="enableEdit('full_name')" *ngIf="!editMode.full_name">{{user.full_name}}</p><input *ngIf="editMode.full_name" [(ngModel)]="user.full_name" (blur)="disableEdit('full_name')" />
                </div>
                <div class="body-section">
                  <h5 class="section-heading">Adresse</h5>
                  <p (dblclick)="enableEdit('address')" *ngIf="!editMode.address">{{user.address}}</p><input *ngIf="editMode.address" [(ngModel)]="user.address" (blur)="disableEdit('address')" />
                </div>
                <div class="body-section">
                  <h5 class="section-heading">Téléphone</h5>
                  <p (dblclick)="enableEdit('phone')" *ngIf="!editMode.phone">{{user.phone}}</p><input *ngIf="editMode.phone" [(ngModel)]="user.phone" (blur)="disableEdit('phone')" />
                </div>
                <div class="body-section">
                  <h5 class="section-heading">Email</h5>
                  <p (dblclick)="enableEdit('email')" *ngIf="!editMode.email">{{user.email}}</p><input *ngIf="editMode.email" [(ngModel)]="user.email" (blur)="disableEdit('email')" />
                </div>
                <div class="body-section">
                  <h5 class="section-heading">Website</h5>
                  <p (dblclick)="enableEdit('website')" *ngIf="!editMode.website">{{user.website}}</p><input *ngIf="editMode.website" [(ngModel)]="user.website" (blur)="disableEdit('website')" />
                </div>
                <div class="body-section">
                  <button class="btn btn-green btn-sm" (click)="saveChanges()">Enregistrer les changements</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

